@import "../../app.scss"; 

.navbar {
    height: 110px;
    max-width: 2580px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(118, 110, 151);

    .nav-wrapper {
        width: 100%;
        max-width: 1366px;
        padding-left: 150px;
        padding-right: 100px;
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;
        height: 80%;
    }

    span {
        font-weight: bold;

        @media (max-width: 768px) {
            display: none;  /* Hide name on small screens */
        }
    }

    .social {
        display: flex;
        gap: 20px;

        @media (max-width: 768px) {
            justify-content: flex-end;
            gap: 15px;  /* Adjust gap for smaller screens */
            margin-left: 100px;
        }
    }

    /* Navbar responsiveness for small screens */
    @media (max-width: 768px) {
        .nav-wrapper {
            flex-direction: column;  /* Stack elements vertically on small screens */
            padding-left: 20px;
            padding-right: 20px;
            align-items: center;  /* Center align items */
        }

        .social {
            margin-top: 10px;
            justify-content: center; /* Center social icons on small screens */
        }
    }
}
